body{
  font-family: "outfit", sans-serif;
  background-color: hsl(212, 45%, 89%); 
 
}


.container{
  display: grid;
  grid-template-rows:  120px 120px 120px 120px 110px 120px;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
  background-color: hsl(212, 45%, 89%); 
}
.item1{
  background-color: rgb(255, 255, 255);
grid-row: 2 / 6;
grid-column: 4/ 6;
border-radius: 20px;
box-shadow: 10px 6px 37px -14px rgba(51, 51, 51, 0.74) ;

}

.item1 img {
display: flex;
justify-self: center;
align-self: center;
padding: 12px;
border-radius: 10%;
width: 90%;

}
.texto{
  display: flex;
  padding-left: 10px;
  font-family: "outfit" , sans-serif;
  font-size: larger;
font-weight: bold;
align-self: center;
justify-self: flex-start;
}
.QR{
  display: flex;
  justify-self: center;
  font-size: medium;
}
